.features-container {
  margin-top: 5rem;
  margin-right: 3rem;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

.features-filters {
  border-radius: 0.5rem;
  background-color: white;
  height: fit-content;
  padding: 1rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width:800px){
  .features-container{
    flex-direction: row;
    width: 90%;
    gap: 2rem;
    margin-right: 0;
  }
}

@media (max-width:500px){
  .features-container{
    margin-top: 10rem;
  }
}

.features-filters-item {
  text-align: center;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 1rem;
}

.features-last-posts {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 2rem;
  width: 90%;
}

.features-last-posts-item {
  border-bottom: 1px solid grey;
  padding: 0.5rem;
}

.features-last-posts-item:hover {
  background-color: rgba(128, 128, 128, 0.507);
  cursor: pointer;
}

.features-last-posts-author {
  font-style: italic;
}

.features-last-posts-title {
  font-weight: bolder;
}

.last-post {
  border: none;
}
