.form {
  background-color: white;
  height: fit-content;
  width: 50%;
  margin-top: 3rem;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 1000px){
  .form{
    width: 100%;
    border-radius: 0;
  }
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input{
  width: 50%;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.input-comment{
  width: 20%;
  padding: 0.5rem;
}

.button-comment{
  padding: 0.5rem;
  color: white;
  background-color: black;
  border-radius: 0.3rem;
}

.input-tag{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form-body-input{
  height: 120px;
}
