@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1b95e0;
  font-family: 'Noto Sans', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px){
  #root{
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  width: 30px;
}

.nav {
  width: 100%;
  padding: 1rem 0 1rem 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  z-index: 100000;
}

.nav-item{
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
/* SCROLLBAR */

.button-submit{
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
  border-left: 0.2px solid black;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(28, 67, 241);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(28, 67, 241, 0.644);
}
