.posts-container {
  background-color: white;
  width: 50%;
  height: fit-content;
  margin-top: 5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 800px){
  .posts-container{
    width: 90vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.post-detail-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-detail {
  background-color: white;
  height: fit-content;
  width: 50%;
  margin-top: 3rem;
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}


.post {
  width: 100%;
  border-bottom: 1px solid grey;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.post-author-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.post-author-picture {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.post-date {
  align-self: flex-end;
}

.post-author-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-img {
  align-self: center;
  width: 400px;
  border: 1px solid;
  transition: width ease-in-out 0.5s;
}

.post-tags {
  display: flex;
}

.post-tag {
  color: rgb(2, 2, 138);
  margin: 0.5rem;
}

.post-tag-hover:hover {
  color: rgb(94, 94, 235);
  cursor: pointer;
}

.post-comment-container {
  margin-top: 3rem;
  border-radius: 1rem;
  padding: 3rem;
  background-color: white;
  width: 45%;
  height: fit-content;
}

.post-comment {
  width: 90%;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  margin: 1rem;
}

.post-comment-user {
  font-size: 0.8rem;
  font-weight: 700;
}

.post-comment-user-picture {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.post-comment-user-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.post-comment-body {
  text-align: center;
  font-size: 1.2rem;
}

.post-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.post-button {
  padding: 0.5rem;
  border-radius: 0.3rem;
  color: white;
}

.post-button-delete {
  background-color: crimson;
}

.post-button-edit {
  background-color: green;
}

.post-button-like {
  background-color: royalblue;
}

.post-button-detail {
  background-color: blueviolet;
}

.post-button:hover {
  cursor: pointer;
}

.post-comment-form {
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 1rem;
  margin-bottom: 1rem;
}


@media (max-width: 900px){
  .post-detail{
    width: 90vw;
  }
  .post-comment-container{
    width: 90vw;
  }
}